@import url("https://fonts.google.com/specimen/Exo?selection.family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");
html, body {
    font-family: "Exo", sans-serif;
    font-size: 10px;
}
@media (max-width: 800px) {
    html, body {
        font-size: 5px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100vh;
}

body {
    background: #000;
}

.bg {
    height: auto;
}
canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#container h1 {
    z-index: 9999;
    color: white;
    font-size: 12rem;
    font-weight: 900;
}

.container-hero {
    height: calc(3770px - 100vh);
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.container-hero div.h1 {
    width: 50%;
    font-size: 8rem;
    font-weight: 600;
    text-align: center;
    color: white;
}
@media (max-width: 800px) {
    .container-hero div.h1 {
        width: 90%;
    }
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 30px 60px;
    border: 3px solid #fff;
    border-radius: 10px;
    /*font-size: 4rem;*/
}

.button span {
    background: #fffff0;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Exo", sans-serif;
}

.button:hover {
    animation: pulsate 2s ease-in;
}

@keyframes pulsate {
    0% {
        box-shadow:
                0 0 25px #fffff0,
                0 0 50px #F9F6EE;
    }
}